a {
    z-index: 99999;
    position: relative;
}
body{
	
overflowY:hidden;	
}

#slider {
    background: url(slike/parisi.png);
    display: flex;
    height: 490px;
}
	
#slider div {
flex-grow: 2;}

div#box1 {
    / *background: #77777763;*/
    height: 270px;
}

ul#tabs {
	flex-wrap: wrap;
    display: flex;
    list-style: none;
    margin-left: 130px;

}

ul#tabs li {border: 2px solid #c6a27d;
    width: 200px;
    text-align: center;
	    padding: 4px;

}
h1#paris {
    font-size: 60px;
    font-weight: 700;
    color: #a470409e;
	    line-height: 56px;
}

h1#paris span {
	  font-size: 51px;
    font-weight: 100;
	color: #b29172c4;
}

#price {
	    line-height: 56px;
	color: #b29172c4;
    font-size: 60px;
    font-weight: 400;
    color: #a470409e;
}

#divi1 {
	    flex-wrap: wrap;
    display: flex;
    width: 74.5%;
    margin-left: 170px;
}

div#divione {
    flex-grow: 2;
	   
}

div#divitwo {
	    
    flex-grow: 2;
}

div#slika {
    height: 230px;
    background: url(slike/aquarium.png);
    margin: 5px;
	
}



div#slika1 {
    height: 230px;
    background: url(slike/venecija.png);
    margin: 5px;
}

h1#title {
    background: #8a7158;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    color: #fff;
}

p#sastrane {
    font-weight: 500;
    font-size: 24px;
    float: right;
    background: #0000008f;
    height: 100%;
    padding: 34px;
    color: #fff;
}

div#divi1bottom {
	height:390px;
	 grid-column-gap: 12px;
    display: grid;
    margin-left: 175px;
    width: 73%;
    grid-template-columns: 45% 55%;
}

div#slikabox {
	border: 4px solid #ad8e70;
    background: url(slike/moscow.jpg);
    height: 376px;
    
}

#hoteltitle {
    width: 100%;
    font-size: 20px;
    background: #8a7158;
    color: #fff;
	    padding: 2px;
}

ul#boxlist li {
    border-bottom: 2px solid #00000036;
    list-style: none;
    line-height: 39px;
    margin-left: -40px;
	    font-style: italic;
}
img#plane {
   margin-left: 10.8em;
    position: relative;
}

div#ibizza {
	box-shadow: inset 0 0 0 1000px #000000d6;
   display: grid;
    background: url(slike/ibizza.jpg);
    height: 400px;
    grid-template-columns: 65% 35%;
	grid-column-gap: 62px;
}

div#ibizza2 {
    width: 230px;
}

h1#ibizzatext {

    font-size: 60px;
    font-weight: 700;
    color: #fff;
	    line-height: 56px;
}

p#demo {
    color: #ab8e71;
    font-size: 40px;
	margin-top: 100px;
}



div#ibizza1 {
    background: #00000054;
}
span#waiting {
    font-size: 24px;
    font-weight: 100;
   
}
p#priceibizza {
    color: #fff;
    font-size: 48px;
    font-weight: 600;
}

ul#boxlistibizza {
	    border-top: 4px solid #ad8e70;
		text-align: left;
		    margin-top: 10px;
}

ul#boxlistibizza li {
	    color: #fff;
	    background: #00000052;
    border-bottom: 2px solid #00000036;
    list-style: none;
    line-height: 40px;
    margin-left: -40px;
}
img#flightimg {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}
a#flighttext {
    text-align: left;
    margin-left: 10px;
}

img#play {
    float: right;

    margin-right: 15px;
    margin-top: 10px;
}
#button {
    background: #b29273;
    color: #fff;
    padding: 6px;
    font-size: 26px;
    border: 2px solid #ab8e71;
}

span#textmoscow {
    font-size: 15px;
    font-weight: 100;
}


span#cena {
    font-size: 28px;
    font-weight: 600;
    font-family: none;
}
span#offers {
    font-size: 18px;
    font-weight: 100;
}
.mybook {
    background: #0000009e;
    font-size: 20px;
}

.mybook2 {
    background: #00000000;
    font-size: 20px;
    border: 2px solid #fff;
    width: 150px;
    padding: 10px;
}
ul#contact {
    position: absolute;
    list-style: none;
    text-align: center;
    border: 2px solid #ab8e71;
    color: #ab8e71;
    padding: 10px;
    border-radius: 5px;
    margin-top: -50px;
}

ul#contact li a{
	
	color: #ab8e71;
	text-decoration:none;
}

div#contactform {
    height: 430px;
  background:#fff;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-top: -10px;
}

div#contact1 {
    
}


input#inputname {
    border: 2px solid #000;
    background: #0000;
    padding: 5px;
    margin: 20px;
}

#message{
    background: #0000;
	 border: 2px solid #000;
}
h2#titlecontact {
    color: #000;
    margin-top: -45px;
}



button#contactsend {
    background: #0000;
    color: #000;
    border: 2px solid #000;
    padding: 4px;
    margin: 10px;
    width: 200px;
}

div#followus {
    margin-top: -32px;
    height: 70px;
    background: #000;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
ul#followlist {
    list-style: none;
}

ul#followlist0 {
    list-style: none;
}

ul#followlist {
    list-style: none;
}
ul#followlist1 {
    list-style: none;
}

ul#followlist0 li {
      color: #fff;
}

ul#followlist li {
        color: #fff;
}
ul#followlist1 li {
        color: #fff;
}

footer#footer {
    background: #000;
    color: #fff;
    text-align: center;
padding:10px;
	}
	
p#instagramlist {
    transform: scale(0.6);
    background: url(slike/inst.png);
    width: 100px;
    height: 100px;
    margin-left: 100px;
    position: absolute;
    margin-top: -50px;
	transition:300ms ease-in;
}


p#instagramlist:hover {
	
transform: scale(0.7)rotate(5deg);	
	
}
p#instagramlist2 {
    transform: scale(0.6);
    background: url(slike/fb.png);
    width: 100px;
    height: 100px;
    margin-left: 100px;
    position: absolute;
    margin-top: -50px;
	transition:300ms ease-in;
}

p#instagramlist2:hover {
	
transform: scale(0.7)rotate(5deg);	
	
}



p#instagramlist3 {
    transform: scale(0.6);
    background: url(slike/pint.png);
    width: 100px;
    height: 100px;
    margin-left: 100px;
    position: absolute;
    margin-top: -50px;
	transition:300ms ease-in;
}

p#instagramlist3:hover {
	
transform: scale(0.7)rotate(5deg);	
	
}





.button {
	width:150px;
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.button.type1 {
  color: #000;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #000;
  border-right-color: #000;
}
.button.type1.type1::before {
  top: 1;
  left: 1;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #000;
  border-left-color: #000;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}






.mybook {
	width:150px;
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.mybook.type1 {
  color: #fff;
}
.mybook.type1.type1::after, .mybook.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.mybook.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #fff;
  border-right-color: #fff;
}
.mybook.type1.type1::before {
  top: 1;
  left: 1;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #fff;
  border-left-color: #fff;
}
.mybook.type1:hover:after, .mybook.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}




.mybook2 {
	width:150px;
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.mybook2.type1 {
  color: #fff;
}
.mybook2.type1.type1::after, .mybook2.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.mybook2.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #fff;
  border-right-color: #fff;
}
.mybook2.type1.type1::before {
  top: 1;
  left: 1;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #fff;
  border-left-color: #fff;
}
.mybook2.type1:hover:after, .mybook2.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}



.mybook3 {
	width:150px;
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.mybook3.type1 {
  color: #fff;
}
.mybook3.type1.type1::after, .mybook3.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.mybook3.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #fff;
  border-right-color: #fff;
}
.mybook3.type1.type1::before {
  top: 1;
  left: 1;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #fff;
  border-left-color: #fff;
}
.mybook3.type1:hover:after, .mybook3.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

.mybook3.type1 a {
  color: #fff;
}
.mybook3.type1 a:hover {
  text-decoration: none;
}













a#numberc {
    color: #ad8e70;
font-weight: 700;
float: right;}

a#numberc:hover {

text-decoration: none;
}




.evropa {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.evropa:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8a7158;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.evropa:hover:before {
	color:#fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




li.evropa a {
    color: 8a7158;
    font-weight: 700;
	text-decoration:none;
}



.jamerica {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.jamerica:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8a7158;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.jamerica:hover:before {
	color:#fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




li.jamerica a {
    color: 8a7158;
    font-weight: 700;
	text-decoration:none;
}




.samerica {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.samerica:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8a7158;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.samerica:hover:before {
	color:#fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




li.samerica a {
    color: 8a7158;
    font-weight: 700;
	text-decoration:none;
}






.asia {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.asia:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8a7158;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.asia:hover:before {
	color:#fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




li.asia a {
    color: 8a7158;
    font-weight: 700;
	text-decoration:none;
}



.africa {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.africa:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8a7158;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.africa:hover:before {
	color:#fff;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




li.africa a {
    color: 8a7158;
    font-weight: 700;
	text-decoration:none;
}


li.evropa:hover{
	
cursor:pointer;	
	
}
li.jamerica:hover{
	
cursor:pointer;	
	
}
li.samerica:hover{
	
cursor:pointer;	
	
}


li.asia:hover{
	
cursor:pointer;	
	
}
li.africa:hover{
	
cursor:pointer;	
	
}

@keyframes fadeInUp{
	
 0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: none;
  }	
	
}



#europa{

	animation:fadeInUp 2s;
transition:500ms ease-in;	
	
}
#southamerica{
	
	animation:fadeInUp 2s;
	animation-delay:-10s
transition:500ms ease-in;	
	
}

#northamerica{
	animation:fadeInUp 2s;
transition:500ms ease-in;	
	
}
#asia{
	animation:fadeInUp 2s;
transition:500ms ease-in;	
	
}

#africa{
	animation:fadeInUp 2s;
transition:500ms ease-in;	
	
}





div#slikaboxrio {
    border: 4px solid #ad8e70;
    background: url(slike/rio.png);
    height: 376px;
    
}

div#slikabarbados {
    height: 230px;
    background: url(slike/barbaros.png);
    margin: 5px;
}


div#slika1northa {
    height: 230px;
    background: url(slike/losangel.png);
    margin: 5px;
}


div#slikaalaska {
    height: 230px;
    background: url(slike/alaska.png);
    margin: 5px;
}



h1#title {
display: none;}

div#slika1southa {
    height: 230px;
    background: url(slike/macupicu.png);
    margin: 5px;
}

div#slikaboxnewyork {
    border: 4px solid #ad8e70;
    background: url(slike/newyork.png);
    height: 376px;
    
}
div#slikaboxthailand {
    border: 4px solid #ad8e70;
    background: url(slike/thailand.png);
    height: 376px;
    
}

div#slikaboxegipt {
    border: 4px solid #ad8e70;
    background: url(slike/egipt.png);
    height: 376px;
    
}

div#slikachina {
    margin: 5px;
    background: url(slike/china.png);
    height: 230px;
    
}
div#slikamadagascar {
    margin: 5px;
    background: url(slike/madagascar.png);
    height: 230px;
    
}


div#slika1safrica {
    margin: 5px;
    background: url(slike/kruger.png);
    height: 230px;
    
}


div#slika1srilanka {
    margin: 5px;
    background: url(slike/srilanka.png);
    height: 230px;
    
}





ul#home {
    position: absolute;
    list-style: none;
    text-align: center;
    border: 2px solid #ab8e71;
    color: #ab8e71;
    padding: 10px;
    border-radius: 5px;
    margin-top: -50px;
}



.mybook.type1 a {
   
    color: #fff;
}


.mybook.type1 a:hover{
   text-decoration:none;
    color: #fff;
}




div#homediv {
    background: #000;
    color: #fff;
    padding: 25px;
	list-style: none;
}
div#homediv  li a{
    
    list-style: none;
    text-align: center;
    border: 2px solid #ab8e71;
   
    padding: 10px;
    border-radius: 5px;
    margin-top: -50px;

    color: #ab8e71;
 
}

div#homediv  li a:hover{
    
   text-decoration:none;
 
}

div#bookform {
    background: #dc3545;
    padding: 50px;
}

div#bookform input {
    width: 410px;
	margin-top: 10px;
}
label {
    color: #fff;
}
div#bookdiv {
    display: grid;
grid-template-columns: 70% 30%;}

button#serch {
    background: #fff0;
    padding: 10px;
    margin-top: 10px;
    color: #ab8e71;
    border: 2px solid #ab8e71;
}

button#serch a {
    
    color: #ab8e71;
   
}
button#serch a:hover {
  text-decoration:none;
}
div#bookform2 {
    padding: 20px;
}
div#bookform2 {
    padding: 20px;
    background: #000;
}

div#bookform {
    background: url(slike/booknow.jpg);
    padding: 50px;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #000000ab;
}
label#bokoformlabel {
    color: #fff;
    font-size: 25px;
}


div#advert {
    text-align: center;
    display: grid;
    grid-template-columns: 100% 0%;
}


div#infocenter {
    background: #000;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
}



div#ads {
    background: url(slike/india.jpg);
    padding: 30px;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #ffffffbf;
}

p#adstext {
    text-align: left;
    font-size: 40px;
    color: #ab8e71;
}

button#readmore {
    background: #fff0;
    padding: 10px;
    margin-top: 10px;
    color: #ab8e71;
    border: 2px solid #ab8e71;
}

div#infocenter {font-style: italic;
    background: #000;
    color: #fff;
    font-size: 20px;
  
 border-top: 2px solid #ab8e7100;
border-bottom: 2px solid #ab8e71;
 border-left: 2px solid #ab8e7100;
  border-right: 2px solid #ab8e7100;

}
div#infocenter p {
    font-size: 23px;
   
    color: #ab8e71;
}




div#bookrush {
    display: grid;
    grid-template-columns: 50% 50%;
	background:#000;
	
}



p#demo2 {
    color: #ab8e71;
    font-size: 20px;
	margin-top: 0px;
}
div#bookrushp {
    color: #fff;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

p#demo2 {
    color: #ab8e71;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
    border: 2px solid #ab8e71;
    width: 200px;
    padding: 5px;
}




textarea::placeholder {
    color: #ab8e71;
}


textarea {
    color: #ab8e71;
    overflow: auto;
    resize: vertical;
    background: #ab8e7100;
    border: 2px solid #ab8e71;
}


input.reviewinput {
    color: #ab8e71;
    border: 2px solid #ab8e71;
    background: #0000;
    margin-bottom: 05px;
}

input.reviewinput::placeholder  {
    color: #ab8e71;
    
}


div#bookform2 input {
    padding: 5px;
}

div#barcelonadiv {
    display: grid;
    grid-template-columns: 70% 30%;
	margin-top: -80px;

}

div#barcelonaform {
    background:background: #0000;
    padding: 50px;

}

h1#aquariumbarcelona {
    margin-left: 800px;
    color: #fff;
    font-weight: 800;
}

div#barcelonaform2 {
    background: #fff0;
    padding: 50px;
   
}

span#tour {
    font-size: 20px;
    font-weight: 400;
}
div#barcelonaform3 {
        background:background: #0000;
    padding: 50px;
}



#sliderbarcelona {

    background: url(slike/barcelonaback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}

#slidervenecia {

    background: url(slike/veneciaback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}
#slidermoscow {

    background: url(slike/moscowback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}
#sliderbarbados {

    background: url(slike/barbadosback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}

#slidermachupicchu {

    background: url(slike/machupicchuback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}


#sliderrio{

    background: url(slike/rioback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}


#slideralaska{

    background: url(slike/alaskaback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}
#sliderLA{

    background: url(slike/LAback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}
#sliderNY{

    background: url(slike/NYback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}
#sliderpeking{

    background: url(slike/pekingback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}
#slidersrilanka{

    background: url(slike/srilankaback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}
#sliderthailand{

    background: url(slike/thailandback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}
#sliderMadagascar{

    background: url(slike/thailandback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}

#sliderbelomesur{

    background: url(slike/belomesurback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}

#slidernationalpark{

    background: url(slike/nationalparkback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}
#slideregipt{

    background: url(slike/egiptback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}

#sliderparis{

    background: url(slike/parisback.jpg);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}

#slideribizza{

    background: url(slike/ibizzaback.png);
    display: flex;
    height: 490px;
    background-size: 100% 100%!important;

}



#homedivbarcelona {
    position: absolute;
    list-style: none;
    text-align: center;
border: 2px solid #ffffff!important;}

#homedivbarcelona  a{
color:#fff!important;}

#homedivbarcelona  a:hover{
text-decoration:none;}

button#button a {
    color: #fff;
	font-size:23px;
}

button#button a:hover {
    text-decoration: none;
}


button.mybook2.type1 a {
    color: #fff;
}
button.mybook2.type1 a:hover {
     text-decoration: none;
}

button#btnside a {
    color: #8a7158;
    border: 2px solid #0000;
    padding: 6px;
}

button#btnside a {
    color: #8a7158;
    border: 2px solid #8a7158;
    padding: 6px;
}

button#btnside a:hover {
    text-decoration:none;
}

span#priceside {
    color: #8a7158;
    font-weight: 800;
    font-size: 15px;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background: #0000;
    border: 2px solid #0000;
}





#homedivbarcelona{
    position: absolute;
    list-style: none;
    text-align: center;
    border: 2px solid #ab8e71;
    color: #ab8e71;
    padding: 10px;
    border-radius: 5px;
margin-top: -50px;
list-style:none;}

div#homedivbarcelona li a {
    list-style: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: -50px;
    color: #ab8e71;
}




div#bookrushpbarcelona {
    color: #000;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

div#bookrushbarcelona {
    display: grid;
    grid-template-columns: 50% 50%;
    background: #0000;
}

.checked {
  color: orange;
}

div#barcelonarush {
  
    height: 70px;
    background: #000;
    display: flex;
 
}

div#barcelonarush div {
    flex-grow: 2;
    text-align: center;
    color: #fff;
    font-size: 27px;
    margin-top: -20px;
}



ul#pet li {
    list-style: square;
    font-size: 17px;
}


.jumbotron {
   
margin-bottom: 0rem;}

div#daystext {
    font-size: 14px;
}


span#pricetext {
    width: 120px;
    font-size: 30px;
    color: #ab8e71;
    font-weight: 600;
    float: right;
    text-align: center;
    border: 2px solid #ab8e71;
}
p#date {
    font-size: 17px;
    border-top: 2px solid #ab8e71;
    padding: 20px;
}

#numberc {
  pointer-events: none;
  cursor: default;
  
}


@media (max-width: 1280px) {
	#hoteltitle {
    width: 100%;
    font-size: 19px;}
	
ul#boxlist li {
    font-size: 15px;
}	
	
}


@media (max-width: 1024px) {
	
ul#boxlist li {
    font-size: 12px;
}		
	
#hoteltitle {
    width: 100%;
    font-size: 14.5px;}	
div#divionebottom {
    font-size: 12px;
}

ul#tabs li {
   
width: 150px;}

h1#ibizzatext {
font-size: 40px;}	


div#barcelonadiv {
    display: grid;
grid-template-columns: 60% 40%;}


h1#aquariumbarcelona {
    margin-left: 500px;
}
	
}








@media (max-width: 800px) {


#numberc {
  pointer-events: fill;
  cursor: default;
  
}
div#followus {
    margin-top: -0px;
}

div#followus {
margin-left: -100px;}
	
ul#tabs {
  
    margin-left: 35px;
}	
	
#divi1 {
    
margin-left: 100px;	}
	
div#divi1bottom {
    
    margin-left: 105px;
width: 71.5%;	}
	
ul#boxlist li {
display: flex;
font-size: 13px;}

#hoteltitle {
   
    font-size: 16px;
}

h1#ibizzatext {
font-size: 40px;}

div#ibizza2 {
    width: 230px;
margin-left: -40px;}

div#divi1bottom {
   
    width: 73%;
    grid-template-columns: 65% 35%;
}	
	
p#sastrane {
width: 185px;}	
	
span#offers {
font-size: 16px;}	

p#sastrane {

font-size: 21px;}
	
span#cena {
font-size: 23px;}	
	
.mybook.type1 {
    color: #fff;
    margin-top: -5px;
    margin-left: -10px;
}	



#homedivbarcelona {
   
margin-top: -20px;}

div#barcelonadiv {
    display: flex;
    
    flex-wrap: wrap;
}

div#barcelonarush {
    display: flex;
    flex-wrap: wrap;
}

p#bookrushtextbarcelona {
    margin-bottom: 30px;
    font-size: 15px;
}

p#demo2 {
 
margin-left: 260px;}

div#barcelonarush {
height: auto;}

div#barcelonaform3 {
    background: background: #0000;
    padding: 50px;
margin-left: 230px;}

.mybook3.type1 {
    color: #fff;
    margin-left: 10px;
    height: 200px;
    margin-top: 140px;
    margin-left: 140px;
}

h1#aquariumbarcelona {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 25px;
    width: 300px;
}


	
}






@media (max-width: 768px) {

#numberc {
  pointer-events: fill;
  cursor: default;
  
}
div#followus {
    margin-top: -0px;
}

div#followus {
margin-left: -100px;}
	
ul#tabs {
  
    margin-left: 35px;
}	
	
#divi1 {
    
margin-left: 100px;	}
	
div#divi1bottom {
    
    margin-left: 105px;
width: 71.5%;	}
	
ul#boxlist li {
display: flex;
font-size: 13px;}

#hoteltitle {
   
    font-size: 16px;
}

h1#ibizzatext {
font-size: 40px;}

div#ibizza2 {
    width: 230px;
margin-left: -40px;}

div#divi1bottom {
   
    width: 73%;
    grid-template-columns: 65% 35%;
}	
	
p#sastrane {
width: 185px;}	
	
span#offers {
font-size: 16px;}	

p#sastrane {

font-size: 21px;}
	
span#cena {
font-size: 23px;}	
	
.mybook.type1 {
    color: #fff;
    margin-top: -5px;
    margin-left: -10px;
}	


#homedivbarcelona {
   
margin-top: -20px;}

div#barcelonadiv {
    display: flex;
    
    flex-wrap: wrap;
}

div#barcelonarush {
    display: flex;
    flex-wrap: wrap;
}

p#bookrushtextbarcelona {
    margin-bottom: 30px;
    font-size: 15px;
}

p#demo2 {
 
margin-left: 260px;}

div#barcelonarush {
height: auto;}

div#barcelonaform3 {
    background: background: #0000;
    padding: 50px;
margin-left: 230px;}

.mybook3.type1 {
    color: #fff;
    margin-left: 10px;
    height: 200px;
    margin-top: 140px;
    margin-left: 140px;
}

h1#aquariumbarcelona {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 25px;
    width: 300px;
}




	
}





















@media (max-width: 700px) {
div#divi1bottom {
    height: 390px;
    grid-column-gap: 12px;
    display: grid;
    margin-left: 105px;
    width: 73%;
    grid-template-columns: repeat(1, 1fr);
}

div#ibizza {
	    margin-top: 400px;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 62px;
}

div#followus ul {
    margin-left: -80px;
}

#message {
   
width: 80%;}

div#ibizza2 {
    width: 230px;
    margin-left: 200px;
}

div#divi1 {
    margin-left: 100px;
}


div#ibizza {
margin-top: 430px!important;}
p#sastrane {
    font-size: 21px;
}

#homedivbarcelona {
   
margin-top: -20px;}

div#barcelonadiv {
    display: flex;
    
    flex-wrap: wrap;
}

div#barcelonarush {
    display: flex;
    flex-wrap: wrap;
}

p#bookrushtextbarcelona {
    margin-bottom: 30px;
    font-size: 15px;
}

p#demo2 {
 
margin-left: 230px;}

div#barcelonarush {
height: auto;}

div#barcelonaform3 {
    background: background: #0000;
    padding: 50px;
margin-left: 190px;}

.mybook3.type1 {
    color: #fff;
    margin-left: 10px;
    height: 200px;
    margin-top: 140px;
    margin-left: 140px;
}

h1#aquariumbarcelona {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 25px;
    width: 300px;
}



}






@media (max-width: 480px) {
	
#numberc {
  pointer-events: fill;
  cursor: pointer;
  
}	
	
h1#paris {
    font-size: 40px;}
	
h1#paris span {
    font-size: 20px;
	    font-weight: 400;
	}
	
#price {
    line-height: 1px;
    font-size: 30px;
font-weight: 600;}

p#demo {
    color: #ab8e71;
    font-size: 20px;
    margin-top: 100px;
}	
ul#tabs {
    
margin-left: 100px;}

div#divi1 {
    margin-left: 70px!important;
}
span#cena {
font-size: 24px;}


span#offers {
font-size: 15px;}


.mybook {

margin-top: -6px;}

div#divi1bottom {
    
margin-left: 73px!important;}
ul#boxlist li {
font-size: 9.6px;}

#hoteltitle {

font-size: 15px;}
div#ibizza {
    
   
   
    display: flex;
    flex-wrap: wrap;
}

p#sastrane {
    
    font-size: 23px;
}

ul#contact {

margin-top: -25px;}

div#ibizza2 {
    width: 270px!important;
    margin-left: 93px!important;
}

div#followus ul {
    margin-left: -115px!important;
}

#message {
    width: 91%!important;
    margin-left: 20px!important;
}

div#followus {
    margin-bottom: 30px;
margin-top: -32px;}

p#instagramlist {
    transform: scale(0.5);
}
p#instagramlist2 {
transform: scale(0.5);}

	p#instagramlist3 {
    transform: scale(0.5);}

	
div#ibizza {
margin-top: 430px!important;}
p#sastrane {
    font-size: 21px;
}

#homedivbarcelona {
   
margin-top: -20px;}

div#barcelonadiv {
    display: flex;
    
    flex-wrap: wrap;
}

div#barcelonarush {
    display: flex;
    flex-wrap: wrap;
}

p#bookrushtextbarcelona {
    margin-bottom: 30px;
    font-size: 15px;
}

p#demo2 {
 
margin-left: 120px;}

div#barcelonarush {
height: auto;}

.mybook3.type1 {
    color: #fff;
    margin-left: 10px;
    height: 200px;
    margin-top: 200px;
}

h1#aquariumbarcelona {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 25px;
    width: 300px;
}	

	
}








@media (max-width: 414px) {
#numberc {
  pointer-events: fill;
  cursor: default;
  
}	
	
	#hoteltitle {

font-size: 15px;}
h1#paris {
    font-size: 40px;}
	
h1#paris span {
    font-size: 20px;
	    font-weight: 400;
	}
	
#price {
    line-height: 1px;
    font-size: 30px;
font-weight: 600;}

p#demo {
    color: #ab8e71;
    font-size: 20px;
    margin-top: 100px;
}	
ul#tabs {
    
margin-left: 45px;}

div#divi1 {
    margin-left: 50px!important;
}
span#cena {
font-size: 24px;}


span#offers {
font-size: 15px;}


.mybook {

margin-top: -6px;}

div#divi1bottom {
    
margin-left: 53px!important;}
ul#boxlist li {
font-size: 9.6px;}

div#ibizza {
    display: flex;
    flex-wrap: wrap;
}

p#sastrane {
    
    font-size: 23px;
}

ul#contact {

margin-top: -25px;}

div#ibizza2 {
    width: 270px!important;
    margin-left: 33px!important;
}

div#followus ul {
    margin-left: -135px!important;
}

#message {
    width: 91%!important;
    margin-left: 20px!important;
}

div#followus {
    margin-bottom: 30px;
margin-top: -32px;}

p#instagramlist {
    transform: scale(0.5);
}
p#instagramlist2 {
transform: scale(0.5);}

	p#instagramlist3 {
    transform: scale(0.5);}

div#ibizza {
margin-top: 430px!important;}
p#sastrane {
    font-size: 21px;
}

#homedivbarcelona {
   
margin-top: -20px;}

div#barcelonadiv {
    display: flex;
    
    flex-wrap: wrap;
}

div#barcelonarush {
    display: flex;
    flex-wrap: wrap;
}

p#bookrushtextbarcelona {
    margin-bottom: 30px;
    font-size: 15px;
}

p#demo2 {
 
margin-left: 85px;}

div#barcelonarush {
height: auto;}

.mybook3.type1 {
    color: #fff;
    margin-left: 10px;
    height: 200px;
    margin-top: 200px;
}

h1#aquariumbarcelona {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 25px;
    width: 300px;
}	
	
span#waiting {
    font-size: 24px;
font-weight: 400;}
	
}







@media (max-width: 375px) {

#numberc {
  pointer-events: fill;
  cursor: pointer;
  
}	
	
#hoteltitle {

font-size: 15px;}	
h1#paris {
    font-size: 40px;}
	
h1#paris span {
    font-size: 20px;
	    font-weight: 400;
	}
	
#price {
    line-height: 1px;
    font-size: 30px;
font-weight: 600;}

p#demo {
    color: #ab8e71;
    font-size: 20px;
    margin-top: 100px;
}	
ul#tabs {
    
margin-left: 45px;}

div#divi1 {
    margin-left: 50px!important;
}
span#cena {
font-size: 24px;}


span#offers {
font-size: 15px;}


.mybook {

margin-top: -6px;}

div#divi1bottom {
    
margin-left: 53px!important;}
ul#boxlist li {
font-size: 10.6px;}

div#ibizza {
    
   
   
    display: flex;
    flex-wrap: wrap;
}

span#textmoscow {
    font-size: 13px;
    font-weight: 100;
}	
p#sastrane {
    
    font-size: 16px;
}

ul#contact {

margin-top: -25px;}

div#ibizza2 {
    width: 270px!important;
    margin-left: 33px!important;
}

div#followus ul {
    margin-left: -70px!important;
}

#message {
    width: 91%!important;
    margin-left: 20px!important;
}

div#followus {
    margin-bottom: 30px;
margin-top: -32px;}

p#instagramlist {
    transform: scale(0.5);
}
p#instagramlist2 {
transform: scale(0.5);}

	p#instagramlist3 {
    transform: scale(0.5);}

div#ibizza {
margin-top: 430px!important;}


#homedivbarcelona {
   
margin-top: -20px;}

div#barcelonadiv {
    display: flex;
    
    flex-wrap: wrap;
}

div#barcelonarush {
    display: flex;
    flex-wrap: wrap;
}

p#bookrushtextbarcelona {
    margin-bottom: 30px;
    font-size: 15px;
}

p#demo2 {
 
margin-left: 60px;}

div#barcelonarush {
height: auto;}

.mybook3.type1 {
    color: #fff;
    margin-left: 10px;
    height: 200px;
    margin-top: 200px;
}

h1#aquariumbarcelona {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 25px;
    width: 300px;
}	
img#plane {
	margin-left: 3.8em!important;}	

span#waiting {
    font-size: 24px;
font-weight: 400;}	
}


@media (max-width: 360px){
	div#followus ul {
    margin-left: -70px!important;
}
#numberc {
  pointer-events: fill;
  cursor: pointer;
  
}	
div#ibizza {
margin-top: 430px!important;}
span#textmoscow {
    font-size: 13px;
    font-weight: 100;
}	
p#sastrane {
    
    font-size: 16px;
}
#homedivbarcelona {
   
margin-top: -20px;}

div#barcelonadiv {
    display: flex;
    
    flex-wrap: wrap;
}

div#barcelonarush {
    display: flex;
    flex-wrap: wrap;
}

p#bookrushtextbarcelona {
    margin-bottom: 30px;
    font-size: 15px;
}

p#demo2 {
 
margin-left: 60px;}

div#barcelonarush {
height: auto;}

.mybook3.type1 {
    color: #fff;
    margin-left: 10px;
    height: 200px;
    margin-top: 200px;
}

h1#aquariumbarcelona {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 25px;
    width: 300px;
}

img#plane {
	margin-left: 3.8em!important;}
	
	
span#waiting {
    font-size: 24px;
font-weight: 400;}	
}


@media (max-width: 320px){
#hoteltitle {
    font-size: 14px!important;
}
img#plane {
	margin-left: 3.8em!important;}
ul#boxlist li {
    font-size: 9.5px!important;
}	
	
span#textmoscow {
    font-size: 13px;
    font-weight: 100;
}	
p#sastrane {
    
    font-size: 16px;
}
span#waiting {
    font-size: 24px;
font-weight: 400;}
	
	
div#followus ul {
    margin-left: -70px!important;
}	
}
























